# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Environment
.env
.env.local
.env.*.local

# Logs
logs
*.log
logs/*.log
pids
*.pid
*.seed
*.pid.lock

# Editor/OS junk
.DS_Store
Thumbs.db
.idea/
.vscode/
*.swp

# Build / Coverage
dist/
coverage/
.cache/
.nyc_output/

# Docker (si jamais tu en ajoutes plus tard)
docker-data/
